/* line 7, ../../compass/sass/styles.scss */
body {
  background-color: #fff5f5;
  overflow-x: hidden;
}

/* line 12, ../../compass/sass/styles.scss */
.ebay-wrapper {
  min-height: 100vh;
}
/* line 14, ../../compass/sass/styles.scss */
.ebay-wrapper .sign-in-nav-bar-wrapper {
  left: 0;
  top: 0;
  z-index: 5;
  position: fixed;
  width: 100%;
  background-color: #232F3E;
  height: 50px;
  line-height: 50px;
}
/* line 22, ../../compass/sass/styles.scss */
.ebay-wrapper .logo {
  margin-left: 20px;
}
/* line 24, ../../compass/sass/styles.scss */
.ebay-wrapper .logo a {
  color: white;
}
/* line 27, ../../compass/sass/styles.scss */
.ebay-wrapper .logo a:hover {
  opacity: 0.8;
}
/* line 32, ../../compass/sass/styles.scss */
.ebay-wrapper .search-bar-wrapper {
  display: inline-block;
  position: absolute;
  right: 40px;
  top: 0;
  color: white;
}
/* line 37, ../../compass/sass/styles.scss */
.ebay-wrapper .search-bar-wrapper a {
  color: white;
  margin: 0 10px;
}
/* line 40, ../../compass/sass/styles.scss */
.ebay-wrapper .search-bar-wrapper a:hover {
  opacity: 0.8;
}
/* line 44, ../../compass/sass/styles.scss */
.ebay-wrapper .search-bar-wrapper form {
  display: inline-block;
}
/* line 46, ../../compass/sass/styles.scss */
.ebay-wrapper .search-bar-wrapper form input {
  height: 30px;
  border-radius: 5%;
}
/* line 50, ../../compass/sass/styles.scss */
.ebay-wrapper .search-bar-wrapper form button {
  height: 30px;
  border: none;
  margin-top: -2px;
  margin-left: 4px;
  color: #232F3E;
  font-weight: 800;
}
/* line 59, ../../compass/sass/styles.scss */
.ebay-wrapper .search-bar-wrapper form button:hover {
  opacity: 0.8;
}
/* line 64, ../../compass/sass/styles.scss */
.ebay-wrapper .body-wrapper {
  padding: 8%;
  padding-top: 50px;
}
/* line 68, ../../compass/sass/styles.scss */
.ebay-wrapper .body-wrapper .body-content-wrapper .each-item-wrapper {
  height: 400px;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
}
/* line 79, ../../compass/sass/styles.scss */
.ebay-wrapper .body-wrapper .body-content-wrapper .each-item-wrapper .each-item-image {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: white;
}
/* line 87, ../../compass/sass/styles.scss */
.ebay-wrapper .body-wrapper .body-content-wrapper .each-item-wrapper .each-item-image img {
  height: 300px;
  max-width: 100%;
}
/* line 95, ../../compass/sass/styles.scss */
.ebay-wrapper .body-wrapper .body-content-wrapper .each-item-wrapper .each-item-description {
  align-items: center;
  justify-content: flex-start;
}

/* line 106, ../../compass/sass/styles.scss */
.register-form-wrapper, .login-form-wrapper {
  margin: auto;
  margin-top: 80px;
  width: 350px;
  background-color: #EFEFEF;
  padding: 10px 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
}
/* line 114, ../../compass/sass/styles.scss */
.register-form-wrapper .register-form-header, .login-form-wrapper .register-form-header {
  height: 70px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  line-height: 30px;
}
/* line 120, ../../compass/sass/styles.scss */
.register-form-wrapper .register-form-header .register-form-description, .login-form-wrapper .register-form-header .register-form-description {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.3);
}
/* line 125, ../../compass/sass/styles.scss */
.register-form-wrapper .register-form, .register-form-wrapper .login-form, .login-form-wrapper .register-form, .login-form-wrapper .login-form {
  margin-top: 30px;
}
/* line 127, ../../compass/sass/styles.scss */
.register-form-wrapper .register-form input, .register-form-wrapper .login-form input, .login-form-wrapper .register-form input, .login-form-wrapper .login-form input {
  margin-top: 14px;
  height: 40px;
}
/* line 131, ../../compass/sass/styles.scss */
.register-form-wrapper .register-form button, .register-form-wrapper .login-form button, .login-form-wrapper .register-form button, .login-form-wrapper .login-form button {
  width: 100%;
  height: 40px;
  margin-top: 14px;
  background-color: #232F3E;
  color: white;
  margin-bottom: 20px;
}
